* {
  box-sizing: border-box;
  font-family: NanumGothicLight;
}

body {
  padding: 10px;
  background: white;
}

/* Header/Blog Title */
header {
  padding: 20px 20px;
  text-align: center;
  background: #02643E;
}


section {   
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 95%;
  height: 95%;
}

table, th, td{
	text-align: center;
	width: 20%;

}
	
.card {
	border: 1px rgba(0, 0, 0, 0.175) solid;
	border-radius: 0.375rem;
	box-shadow: ;
}

.box1{
	background: #E3F1E2;
	padding: 15px;
	color: #E3F1E2;
}

h1 {
  font-size: 50px;
  color: #F2EEE2;
}

.box2{
	border: 1px rgba(0, 0, 0, 0.175) solid;
    border-radius: 0.375rem;
    box-shadow: ;
	width: 50%;
	background: #F2EEE2;
	padding: 5px;
	text-align: center;
	height: 50%;
	margin: 0 auto;
    
}
 
.blank {   
  padding: 20px;
}

input{
	float: center;
}

.box3{
	border: 1px rgba(0, 0, 0, 0.175) solid;
    border-radius: 0.375rem;
    box-shadow: ;
	width: 80%;
	height: 30px;
	background: #F2EEE2;
	padding: 5px;
	text-align: center;
	margin: 0 auto;
}

.pict-review{
    float:left;
    padding-left:250px;
    padding-right:700px;
}

.input-file-button {
    width: 60px;
    height: 80px;
    background-color: #F2EEE2;
    font-size: 50px;
    color: #444;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 5px 10px;
    cursor: pointer;
    display:block;
    
}

textarea{
	width: 100%;
    border: 1px solid grey;
    resize: none;
}


/* Footer */
footer {
    text-align: center;
    background-color: #E3F1E2;
    margin-top: 30px;
    padding: 20px;
	font-size: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  section, aside {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  nav a {
    float: none;
    width: 100%;
  }
}

