<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
      <title>MEP</title>
      <link rel="stylesheet" href="../static/style.css">
      <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
      <script src=""></script>
   </head>
   <!-- body -->
   <body class="main_page">
      <!-- banner -->
      <nav class="main_banner">
         <div class="main_btn">
            <button class="login_btn"><a href="login_index.html">로그인</a></button>
            <button class="join_btn"><a href="joinUs.html">회원가입</a></button>
            <button class="like"><img src="../static/images/heart.png" width="35px"></button>
         </div>
         <img class="logo" src="../static/images/logo.png" width="50%">
      </nav>

      <section class="main_banner2">
         <div class="category">
            <button>
               <img src="../static/images/hansik.png" style="width: 50px">
               <br>한식
            </button>
            <button>
               <img src="../static/images/joongsik.png" style="width: 50px">
               <br>중식
            </button>
            <button>
               <img src="../static/images/ilsik.png" style="width: 50px">
               <br>일식
            </button>
            <button>
               <img src="../static/images/yangsik.png" style="width: 50px">
               <br>양식
            </button>
            <button>
               <img src="../static/images/fastfood.png" style="width: 50px">
               <br>패스트푸드
            </button>
            <button>
               <img src="../static/images/dessert.png" style="width: 50px">
               <br>디저트
            </button>
         </div>
         <div class="banner2-btns">
            <button>
               쩝쩝박사 코스
            </button>
            <button>
               맛집 등록
            </button>
         </div>
      </section>

      <section class="weather">
         15.3° / 구름많음 <br>습도 88% 바람 1.1m/s
      </section>

      <section class="store_list">
         <div id="stores" class="row row-cols-1 row-cols-md-3 g-4">
            <div id="store" class="col">
               <div class="card h-100">
                  <img src="../static/images/kkai.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">까이식당</h5>
                     <p class="score"><img src="../static/images/star.png" width="35px" >4.7</p>
                     <p class="to_youtube"><img src="../static/images/youtube_logo.png" width="50px"></p>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card h-100">
                  <img src="../static/images/nusrae.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">너스레</h5>
                     <p class="score"><img src="../static/images/star.png" width="35px" >4.7</p>
                     <p class="to_youtube"><img src="../static/images/youtube_logo.png" width="50px"></p>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card h-100">
                  <img src="../static/images/momiji.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">모미지</h5>
                     <p class="score"><img src="../static/images/star.png" width="35px" >4.7</p>
                     <p class="to_youtube"><img src="../static/images/youtube_logo.png" width="50px"></p>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card h-100">
                  <img src="../static/images/pera.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">카페페라</h5>
                     <p class="score"><img src="../static/images/star.png" width="35px" >4.7</p>
                     <p class="to_youtube"><img src="../static/images/youtube_logo.png" width="50px"></p>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card h-100">
                  <img src="../static/images/wesaladu.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">위샐러듀</h5>
                     <p class="score"><img src="../static/images/star.png" width="35px" >4.7</p>
                     <p class="to_youtube"><img src="../static/images/youtube_logo.png" width="50px"></p>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card h-100">
                  <img src="../static/images/donchundong.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">돈천동</h5>
                     <p class="score"><img src="../static/images/star.png" width="35px" >4.7</p>
                     <p class="to_youtube"><img src="../static/images/youtube_logo.png" width="50px"></p>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card h-100">
                  <img src="../static/images/santabi.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">산타비</h5>
                     <p class="score"><img src="../static/images/star.png" width="35px" >4.7</p>
                     <p class="to_youtube"><img src="../static/images/youtube_logo.png" width="50px"></p>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card h-100">
                  <img src="../static/images/poponamu.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">포포나무</h5>
                     <p class="score"><img src="../static/images/star.png" width="35px" >4.7</p>
                     <p class="to_youtube"><img src="../static/images/youtube_logo.png" width="50px"></p>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card h-100">
                  <img src="../static/images/drawing.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">드로윙</h5>
                     <p class="score"><img src="../static/images/star.png" width="35px" >4.7</p>
                     <p class="to_youtube"><img src="../static/images/youtube_logo.png" width="50px"></p>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <footer>
         EWHA WOMANS UNIVERSITY
         <br> Open SW Platform
         <br> Copyright 2022.505.All Rights Reserved
      </footer>
      <script>
      </script>
   </body>
</html>
