<!DOCTYPE html>
<html>
  <head>
	  <link rel="stylesheet" href="../static/mep_page.css">
  </head>
  <body>
	  <header>
		 <table width="100%;" height="130px;">
		<tr>
			<th><a href="index.html"><img class="back-btn" src="../static/images/backbar.png" width="50px" style="float: left;"></a></th>
			<th><div style="margin-left: 130px;"></div></th>
			<th><img class="logo" src="../static/images/logo.png" width="200px" alt="logo" style="float: left;"></th>
		</tr>
	</table>

	  </header>




	  <div class="box1"></div>

      <section>
		  <div class="blank"></div>

		  <div class="card" style="background: #f1f1f1; font-size: 20px;">
			  <table style="width: 100%">
				  <tr>
					  <th><h2>진돈부리</h2></th>
					  <th><div style="background: #E3F1E2; text-align: center; width: 100px; float: right;"><a href="https://mep-hycxu.run.goorm.io/MEP/mep_registration.html">정보 수정</a></div></th>
				  </tr>
				  <tr>
			          <th><hr></th>
					  <th><hr></th>
				  </tr>
				  <tr>
					  <th>일식</th>
			          <th><a href="https://map.naver.com/v5/search/%EC%A7%84%20%EB%8F%88%EB%B6%80%EB%A6%AC/place/1674726200?placePath=%3Fentry=pll%26from=nx%26fromNxList=true&c=14130817.4894228,4516985.7835626,15.3,0,0,0,dh">서대문구 신촌로 149</a></th>
				  </tr>
			  </table>

			  <table style="width: 50%; float: left;">
				  <tr>
					  <th></th>
				  </tr>
				  <tr>
					  <th><img src="../static/images/star.png" alt="star" width="40%;" height="40%;"></th>
					  <th>4.5</th>
				  </tr>
			  </table>
			  <table style="width: 50%; float:right;">
				  <tr>
					  <th></th>
				  </tr>
				  <tr>
					  <th>0507-1388-3813</th>
				  </tr>
				  <tr>
					  <th>영업 시간</th>
				  </tr>
				  <tr>
					  <th>월-토: 9시-21시</th>
				  </tr>
				  <tr>
					  <th>일: 9시-19</th>
				  </tr>
			  </table>
			  <br><br>
			  <table style="width: 100%; float:center;">
				  <tr>
					  <th></th>
				  </tr>
				  <tr>
					  <th><a href="https://www.instagram.com/2021jin715/">https://www.instagram.com/2021jin715/</a></th>
				  </tr>
			  </table>
		  </div>



		  <div class="card">
			  <table style="width: 100%;">
				  <tr>
					  <th><div class="hashdiv">#혼밥하기 좋아요</div></th>
				  </tr>
				  <tr>
					  <th><div class="space"></div></th>
				  </tr>
				  <tr>
					  <th><div class="hashdiv">#가격이 합리적이에요</div></th>
				  </tr>
				  <tr>
					  <th><div class="space"></div></th>
				  </tr>
				  <tr>
					  <th><div class="hashdiv">#인테리어가 깔끔해요</div></th>
				  </tr>
				  <tr>
					  <th><div class="space"></div></th>
				  </tr>
				  <tr>
					  <th><div class="hashdiv">#친절해요</div></th>
				  </tr>
				  <tr>
					  <th><div class="space"></div></th>
				  </tr>
				  <tr>
					  <th> <div class="hashdiv">#주차가 가능해요</div></th>
				  </tr>
				  <tr>
					  <th><div style="padding-top: 100px;"></div></th>
				  </tr>
				  <tr>
					  <th><div class="hashdivmore"><a href="https://mep-hycxu.run.goorm.io/MEP/Review_Check.html">더보기 -></a></div></th>
				  </tr>

			  </table>
	 </div>


	<div class="card">
		<table width="100%;">
			<tr>
				<th><a href="https://mep-hycxu.run.goorm.io/MEP/index.html"><img src="../static/images/desert.png" alt="desert" style="width: 80%; height: 80%;"></a></th>
			</tr>
		</table>
	</div>

	 <div class="blank"></div>
 </section>



 <aside>

	 <div class="card">
		 <table style="width: 100%;">
			 <tr>
				 <th><div style="padding: 20px;"></div></th>
			 </tr>
			 <tr>
				 <th><a href=""><img height="50%;" width="50%;" src="../static/images/food.png" alt="food"></a></th>
			 </tr>
             <tr>
				  <th><div style="font-size: 15px; height: 25px; background: #E3F1E2; width: 25%; margin: 0 auto; text-align; center; border: 1px rgba(0, 0, 0, 0.175) solid;
                      border-radius: 0.375rem; box-shadow: ;"><a href="">더보기 -></a></div></th>
			 </tr>
		 </table>
	 </div>

	 <div class="card">
		 <table style="width: 100%; height: 100%">
			 <tr>
				 <th><div style="padding: 130px 130px;"></div></th>
			 </tr>
			 <tr>
				 <th><div class="hashdiv" style="float: left;">오늘은 휴무입니다.</div></th>
			 </tr>
			 <tr>
				<th><div class="space"></div></th>
			</tr>
			 <tr>
				 <th><div class="hashdiv" style="background: #E3F1E2; height: 35px; width: 100%; margin: 0 auto;"><textarea cols="10" row="100"></textarea></div></th>
			 </tr>
		 </table>
	 </div>

     <div class="card">
		<table width=" 100%;">
			 <tr>
				 <th class="name">#유튜브</th>
			 </tr>
			<tr>
				<th><div class="space"></div></th>
			</tr>
		</table>

		<div style="white-space:nowrap; overflow-x:scroll;">
			<table width=" 100%;">
				<tr>
					<th><a href="https://www.youtube.com/watch?v=2ghJGxurty8"><img src="../static/images/youtube.png"></a></th>
			    </tr>
		    </table>
		 </div>



		 <table width=" 100%;">
			 <tr>
				 <th class="name">#블로그</th>
			 </tr>
			<tr>
				<th><div class="space"></div></th>
			</tr>
		</table>

		<div style="white-space:nowrap; overflow-x:scroll;">
      		<table width=" 100%;">
				<tr>
					<th><a href="https://blog.naver.com/i_believe28/222900856946"><img class="blog" src="../static/images/blog1.png"></a></th>
					<th><a href="https://blog.naver.com/ahnhj0102/222628768625"><img class="blog" src="../static/images/blog2.png"></a></th>
					<th><a href="https://blog.naver.com/sallykim329/222715457721"><img class="blog" src="../static/images/blog3.png"></a></th>
					<th><a href="https://blog.naver.com/get_set_ready/222726167207"><img class="blog" src="../static/images/blog4.png"></a></th>
			    </tr>
		    </table>
		</div>
     </div>
  </aside>






<footer>
  EWHA WOMANS UNIVERSITY
  <br> Open SW Platform
  <br> Copyright 2022.505.All Rights Reserved
</footer>

</body>
</html>
