<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>리뷰등록화면</title>
    <link rel="stylesheet" href="../static/Review.css">
</head>
<body>
    <div id="container">
        <header> <!--header(로고+이전버튼+연두색 바)-->
            <section class="banner">
                <a href="Review_Check.html"><img class="back-btn" src="../static/images/backbar.png" style="float:left;" width="50px"></a>
                <img class="logo" src="../static/images/logo.png" width="200px">
            </section>
        </header>
        
        <main>
            <form action="/submit_review" enctype="multipart/form-data" method="post">
                <div id="base"> <!--식당 이름, 밑줄-->
                    <h1 style="font-weight: bold; line-height: 70%;">진돈부리</h1>
                    <div id="bar3"></div>
                
                
                <h3 style="line-height: 30%">별점을 입력해주세요.</h3>
                <div class="star-rating space-x-4 mx-auto"> <!--별점-->
                    <input type="radio" id="5-stars" name="rating" value="5" v-model="ratings"/>
                    <label for="5-stars" class="star pr-4">★</label>
                    <input type="radio" id="4-stars" name="rating" value="4" v-model="ratings"/>
                    <label for="4-stars" class="star">★</label>
                    <input type="radio" id="3-stars" name="rating" value="3" v-model="ratings"/>
                    <label for="3-stars" class="star">★</label>
                    <input type="radio" id="2-stars" name="rating" value="2" v-model="ratings"/>
                    <label for="2-stars" class="star">★</label>
                    <input type="radio" id="1-star" name="rating" value="1" v-model="ratings" />
                    <label for="1-star" class="star">★</label>
                </div>
                <br>
                <div id="text-and-image">
                <div class="text-review"> <!--텍스트 리뷰 작성 칸-->
                    <textarea name="text_rev" id="text-review" cols="100%" rows="10%" placeholder="솔직한 리뷰를 작성해주세요."></textarea>
                </div>
                <div class="pict-review"><!--사진 업로드-->
                    <label class="input-file-button" for="input-file">+</label>
                    <input type="file" id="input-file" style="display:none;" name="file" />   
                </div>
                </div>
                <div id="hash-tag">  <!--해시태그-->
                    <ul class="hash-tag-list">
                        <li>
                            <label for="delicious">#"음식이 맛있어요"</label>
                            <input type="checkbox" name="hashtag" value="delicious" id="delicious">
                        </li>
                        <li>
                            <label for="efficient">#"가성비가 좋아요"</label>
                            <input type="checkbox" name="hashtag" value="efficient" id="efficient">
                        </li>
                        <li>
                            <label for="kind">#"친절해요"</label>
                            <input type="checkbox" name="hashtag" value="kind" id="kind">
                        </li>
                        <li>
                            <label for="clean">#"매장이 청결해요"</label>
                            <input type="checkbox" name="hashtag" value="clean" id="clean">
                        </li>
                        <li>
                            <label for="fresh">#"재료가 신선해요"</label>
                            <input type="checkbox" name="hashtag" value="fresh" id="fresh">
                        </li>
                        <li>
                            <label for="alone">#"혼밥하기 좋아요"</label>
                            <input type="checkbox" name="hashtag" value="alone" id="alone">
                        </li>
                    </ul>
                </div>
                <br>
                <div class="review-upload"> <!--리뷰 등록하기 버튼-->
                    <input type="submit" id="review-upload-button" value="리뷰 등록하기" onclick="window.location.href = 'Review_Check.html'">
                </div>
                </div>
            </form>
        </main>

        <footer>
            EWHA WOMANS UNIVERSITY
            <br> Open SW Platform
            <br> Copyright 2022.505.All Rights Reserved
         </footer>   
    </div>
</body>
</html>