<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>리뷰조회화면</title>
    <link rel="stylesheet" href="../static/Review.css">
</head>
<body>
    <div id="container">
        <header> <!--header(로고+이전버튼+연두색 바)-->
            <section class="banner">
                <a href="mep_page.html"><img class="back-btn" src="../static/images/backbar.png" style="float:left;" width="50px"></a>
                <img class="logo" src="../static/images/logo.png" width="200px">
            </section>
        </header>
        
        <main> 
            <div id="info-and-photoreview" >
            <div id="information"> <!--식당 이름, 별점 확인-->
                <h1 style="font-size:43px; margin-bottom:10px; margin-left:35px; margin-right:35px;"> 진돈부리</h1>
                <div class="star-rate"> <!--별점-->
                    <img src="../static/images/star.png" width="45px" height="45px">
                    <span style="font-size: 40px;">4.5</span>
                </div>
            </div>
            <div id="photo-reviews"> <!--사진리뷰 모음-->
                <ul>
                    <li><img src="../static/images/review1.jpg" alt="리뷰 사진"></li>
                    <li><img src="../static/images/review1.jpg" alt="리뷰 사진"></li>
                    <li><img src="../static/images/review1.jpg" alt="리뷰 사진"></li>
                    <li><img src="../static/images/review1.jpg" alt="리뷰 사진"></li>
                    <li><img src="../static/images/review1.jpg" alt="리뷰 사진"></li>
                    <li><img src="../static/images/review1.jpg" alt="리뷰 사진"></li>
                    <li><img src="../static/images/review1.jpg" alt="리뷰 사진"></li>
                    <li><img src="../static/images/review1.jpg" alt="리뷰 사진"></li>
                </ul>
            </div>  
            </div> 
            <div id="hashtag-and-detail">
            <div id="hashtag-reviews">
                <ul>
                    <li>#"음식이 맛있어요"<span id="num">20</span></li>
                    <li>#"가성비가 좋아요"<span id="num">18</span></li>
                    <li>#       "친절해요"<span id="num">15</span></li>
                    <li>#"매장이 청결해요"<span id="num">15</span></li>
                    <li>#"재료가 신선해요"<span id="num">13</span></li>
                    <li>#"혼밥하기 좋아요"<span id="num">12</span></li>
                    <li>#    "양이 많아요"<span id="num">11</span></li>
                    <li>#"주차 할 수 있어요"<span id="num">8</span></li>
                    <li>#"대기시간이 길어요"<span id="num">5</span></li>
                    <li>#"접근성이 좋아요"<span id="num">4</span></li>
                </ul>
            </div>
            
            <div id="review-detail">
                <h2>
                    1,232개의 리뷰
                    <span style="font-size:5px;">
                    <input type="radio" class="radio-btn" id="arrange-recent" name="arrange-method" value="recent">
                    <label for="arrange-recent">최신순/</label>
                    <input type="radio" class="radio-btn" id="arrange-best" name="arrange-method" value="best">
                    <label for="arrange-best">추천순</label>
                    </span>
                    <button type="button" id="move_review_write" onclick="window.location.href = 'Review_Write.html'">리뷰작성하기</button>
                </h2>
                <div id="review_1">
                    <span style="font-size:18px; color:green; margin-left:10px; margin-right:10px; float:left">이데서열꼴찌</span>
                    <span id="date" style="font-size:4px; color:#555; margin-right:20px;">2022-09-12</span>
                    <img src="../static/images/star.png" width="25px" height="25px">
                    <span style="font-size: 17px;">4.5</span><br>
                    <img src="../static/images/review1.jpg" alt="리뷰사진" style="width:80px;height:100px;">
                    <span style="font-size:8px; text-align:center;">연어가 정말 싱싱하고 사장님이 친절하세요</span>
                    <button type="button" id="good-btn" onclick=""><img src="../static/images/good.png" style="width:20px; height:20px;"></button>
                </div>
                <div id="review_2">
                    <span style="font-size:18px; color:green; margin-left:10px; margin-right:20px; float:left">이데댕김</span>
                    <span id="date" style="font-size:4px; color:#555; margin-right:20px;">2022-10-12</span>
                    <img src="../static/images/star.png" width="25px" height="25px">
                    <span style="font-size: 17px;">5.0</span><br>
                    <img src="../static/images/review1.jpg" alt="리뷰사진" style="width:80px;height:100px;">
                    <span style="font-size:8px;">매장이 깨끗해요! 그리고 가성비가 좋습니다</span>
                    <button type="button" id="good-btn" onclick=""><img src="../static/images/good.png" style="width:20px; height:20px;"></button>
                </div>

            </div>
        </div>
        </main>

        <footer>
            EWHA WOMANS UNIVERSITY
            <br> Open SW Platform
            <br> Copyright 2022.505.All Rights Reserved
         </footer>
    </div>
</body>
</html>