    
* {
     box-sizing: border-box;
     font-family: 'NanumGothicExtraBold';
}

html {
scroll-behavior: smooth;
}
header {
  padding: 20px 20px;
  text-align: center;
  background: #02643E;
}
.main_btn {
     position: absolute;
     left: 85%;
}
/** banner section **/


.login_btn {
     color: white;
     background-color: #02643E;
     border: none;
     font-size: large;
}
.join_btn {
     color: white;
     background-color: #02643E;
     border: none;
     font-size: large;
}
.like {
     background-color: #02643E;
     border: none;
}

.logo {
     align-content: center;
     margin: 100px auto 100px auto;
}
.main_banner2 {
     background-color: #E3F1E2;
     padding: 10px;

     display: grid;
     grid-template-columns:repeat(2, 1fr);
     text-align: right;

}
.category>button {
     background-color: #E3F1E2;
     margin: auto 4% auto 4%;
     border: none;
     font-size: large;
}
.banner2-btns>button {
     background-color: #E3F1E2;
     margin: auto 4% auto 4%;
     border: none;
     font-size: large;
}

.weather {
     font-size: large;
     text-align: center;
     padding: 30px;
}
.store_list {
     width: 92%;
     margin: 0px auto 0px auto;
}
.card {
     margin: 0px 5px 10px 5px;

}
.card-title {
     text-align: center;
     margin-bottom: 0px;
}
.score {
     text-align: center;
}

.to_youtube {
     text-align: right;
     margin: 30px 0px 0px 0px;
}
.card > img {
     height: 60%;
     width: 90%;
     margin: 20px 20px 10px 20px;
}
footer {
     text-align: center;
     background-color: #E3F1E2;
     margin-top: 30px;
     padding: 20px;
     font-size: 10px;
}

.course{
    height : auto; 
    width : 1000px; 
    border:1px solid grey; 
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 80px;
    padding-left: 10px; 
    margin : auto;
}
.usercouse{
    border: 1px;
    float: left;
    width:20%;
    height : 100px;
    box-sizing: border-box;
    text-align : center;
}

.input-file-button{
    width: 80px;
    height: 80px;
    background-color: #F2EEE2;
    font-size: 50px;
    color: #444;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 5px 10px;
    cursor: pointer;
    display:block;
}
.pict-review{
    float: left;
    padding-left : 100px;
    padding-right : 700px;
}

#submit{
    background-color: #E3F1E2;
    border: 1px solid #E3F1E2;
    width: 100px;
    height: 60px;
    padding : 15px;
    text-align: center;
}
.showuser{
    height : auto; 
    width : 950px; 
    border: 1px rgba(0, 0, 0, 0.175) solid; 
    border-radius: 0.375rem;
    box-shadow: ;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 200px;
    padding-left: 10px; 
    margin : auto;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
}
.userphoto{
    position: relative;
    width: 40%;
    padding-top:10px;
    padding-bottom:200px;
    padding-left: 20px;
    overflow:hidden;
    float:left;

}
.userphoto img {
    position: absolute;
    width: 170px;
    height: 170px;



